
body {
  background-color: rgba(31, 90, 255, 0.9);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: #333;
}
.App {
  text-align: center;
}
.module{
  height: 200px;
  width: 200px;
  justify-content: space-between;
  padding: 10px;
  margin: 30px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.871);
  border-radius: 10px;
}
.h1 {
  color: rgb(12, 97, 255);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.question {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: bold;
}
.reponse {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  width: 800px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  border-radius: 8px;
  border:solid 1px #000;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1);
}
.Scorefel {
  color: rgba(26, 227, 8, 0.9);
  font-size: 40px;
}

.Scoretry {
  color: rgba(235, 57, 33, 0.9);
  font-size: 40px;
}
.buttonRec {
  width: 140px;
  height: 60px;
  background-color: rgb(56, 36, 208);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buttonRec:hover {
  background-color: rgb(117, 58, 213);
}
.p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 1.6;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo {
  max-width: 40px;
  height: auto;
  margin-right: 10px;
}
.search-input{
  width: 800px;
  height: 30px;
  font-size: 30px;
  border-radius: 18px;
  text-align: center;
  align-items: center;

}
.correct {
  background-color: green;
  color: white;
}
.wrong {
  background-color: red;
  color: white;
}
.timer {
  color: #000000;
  font-size: 30px;
  font-family: "Times New Roman", serif;
}
.next-btn {
  width: 250px;
  height: 20;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #98c0eb;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.navtimer{
  display: flex;
  
  width: 100px;
  border-radius: 25px;
  align-items: end;
  justify-content: end;
  background-color: aliceblue;
}